:root {
  --primary: #602558;
  --primary-light: #783A6F;
  --primary-lighter: #95568C;
  --accent: #F58F60;
  --accent-dark: #F58F60;
  --accent-darker: #c35420;

  --background: #FFFFFF;

  --text-primary: rgba(255,255,255,0.87);
  --text-primary-light: rgba(255,255,255,0.87);
  --text-primary-lighter: rgba(255,255,255,0.87);
  --text-accent: rgba(255,255,255,0.87);
  
  --primary-text: rgba(0,0,0,0.87);
  --secondary-text: rgba(0,0,0,0.54);
  --disabled-text: rgba(0,0,0,0.38);
  --hint: rgba(0,0,0,0.38);
  --divider: rgba(0,0,0,0.12);

  --shade: rgba(0,0,0,0.03);
  --shade-primary: rgba(96,37,88,0.03);
  --shade-accent: rgba(245,143,96,0.15);

  --shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  --inset-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.26);

  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  line-height: 1.5;
}

.kentan-theme .clip-paths {
  position: absolute;
  z-index: -1;
  margin: 0;
  border: none;
  padding: 0;
  width: 0;
  height: 0;
}

.kentan-theme body {
  margin: 0;
}

.kentan-theme h1,h2,h3,h4,h5,h6 {
  color: var(--primary-text);
}

.kentan-theme p {
  color: var(--secondary-text);
}

.kentan-theme a {
  color: var(--accent);
}

.kentan-theme a:visited {
  color: var(--accent-darker);
}

.kentan-theme code {
  border-radius: 3px;
  padding: 0.15rem 0.375rem;
  background-color: var(--shade-accent);
  color: var(--primary-lighter);
}

.kentan-theme .background-poster {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}

.kentan-theme .poster-border,
.kentan-theme .poster,
.kentan-theme .shade-primary,
.kentan-theme .shade-accent-1,
.kentan-theme .shade-accent-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 35% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 75%, 35% 100%, 0 85%, 0 0);
}

.kentan-theme .poster-border {
  top: 3px;
  background-color: var(--primary);
}

.kentan-theme .poster {
  object-fit: cover;
}

.kentan-theme .shade-primary {
  background-position: 0 0;
  background-image: linear-gradient(148deg, rgba(96,37,88,1) 6%, rgba(96,37,88,0.1) 50%);
}

.kentan-theme .shade-accent-1 {
  background-position: 0 0;
  background-image: linear-gradient(335deg, rgba(245,143,96,0.5) 15%, rgba(245,143,96,0.2) 60%);
}

.kentan-theme .shade-accent-2 {
  background-position: 0 0;
  background-image: linear-gradient(217deg, rgba(245,143,96,0.2) 5%, rgba(245,143,96,0) 40%);
}

.kentan-theme .poster-divider {
  display: none
}

.kentan-theme .product-logo .stem {
  fill: var(--accent);
}

.kentan-theme .product-logo .left-petal {
  fill: var(--primary);
}

.kentan-theme .product-logo .right-petal {
  fill: var(--primary-light);
}

.kentan-theme .product-logo .middle-petal {
  fill: var(--primary-lighter);
}

.kentan-theme .first-impression {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 15vh auto auto 1fr 160px;
  justify-items: center;
  height: 100vh;
}

.kentan-theme .first-impression > .product-logo {
  width: calc(1rem / 16 * 100);

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.kentan-theme .topic-title {
  display: flex;
  flex-direction: column;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.kentan-theme .title {
  margin: 0.5rem 0 0;
  color: var(--text-primary);
  font-size: calc(1rem / 16 * 69);
  line-height: 1;
  font-weight: 200;
}

.kentan-theme .subtitle {
  margin: 0;
  color: var(--text-primary);
  font-size: calc(1rem / 16 * 23);
  text-align: center;
  font-weight: 100;
}

.kentan-theme .controls {
  display: flex;
  flex-direction: column;

  grid-column: 2 / 3;
  grid-row: 5 / 6;
  justify-self: end;
}

.kentan-theme .controls :first-child {
  margin-bottom: 20px;
}

.kentan-theme .flat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: calc(1em / 16 * 10 * 15); /* if 1em = 16px -> 150px */
  height: calc(1em / 16 * 10 * 5); /* if 1em = 16px -> 50px */
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.kentan-theme .flat-button:active {
  box-shadow: var(--inset-shadow);
  transition: none;
}

.kentan-theme .round.flat-button {
  border-radius: calc(1em / 16 * 10 * 5 / 2);
}

.kentan-theme .flat-button.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.kentan-theme .flat-button.primary:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.kentan-theme .flat-button.filled.primary {
  background-color: var(--primary);
  color: var(--text-primary);
}

.kentan-theme .flat-button.filled.primary:hover {
  background-color: var(--accent);
  color: var(--text-accent);
}

.kentan-theme article {
  margin-bottom: calc(1rem / 16 * 20);
  padding: 0 calc(1rem / 16 * 20);
}

.kentan-theme article > h2,
.kentan-theme article > h2 span {
  margin: 0 0 calc(1rem / 16 * 20);
  font-size: 1rem / 16 * 21;
  color: var(--primary);
}

.kentan-theme article p,
.kentan-theme article ul {
  margin: 0 0 calc(1rem / 16 * 20);
}

.kentan-theme article :last-child {
  margin-bottom: 0;
}

.kentan-theme .markdown-section .warn {
  box-shadow: var(--shadow);
  background-color: var(--shade-accent);
}

.kentan-theme .sidebar h1 img {
  width: calc(1rem / 16 * 100);
}

.kentan-theme .sidebar li strong {
  color: var(--secondary-text);
}

.kentan-theme .sidebar ul ul li {
  margin-left: 0;
}

.kentan-theme .sidebar ul ul ul {
  padding-left: 1rem;
}

.kentan-theme .sidebar ul ul ul li a::before {
  display: none;
}

.kentan-theme .sidebar li a:visited {
  color: var(--secondary-text);
}

.kentan-theme .sidebar li a::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--accent);
  content: '';

  -webkit-clip-path: url(#left-petal-clip);
  clip-path: url(#left-petal-clip);
}

.kentan-theme article ul {
  padding-left: 0;
}

.kentan-theme article ul {
  list-style-type: none;
}

.kentan-theme article li::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--accent);
  content: '';

  -webkit-clip-path: url(#stem-clip);
  clip-path: url(#stem-clip);
}

.kentan-theme h1 a:not(.app-name-link) {
  display: flex;
  align-items: center;
  text-decoration-color: var(--primary);
}

.kentan-theme h1 a:not(.app-name-link) span {
  color: var(--accent);
  font-size: 2rem;
}

.kentan-theme h1 a:not(.app-name-link)::before {
  margin-right: 0.5rem;

  -webkit-clip-path: url(#left-petal-clip);
  clip-path: url(#left-petal-clip);
}

.kentan-theme h1 a:not(.app-name-link)::after {
  margin-left: 0.5rem;
  
  -webkit-clip-path: url(#right-petal-clip);
  clip-path: url(#right-petal-clip);
}

.kentan-theme h1 a:not(.app-name-link)::before,
.kentan-theme h1 a:not(.app-name-link)::after {
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--primary);
  content: '';
}

.kentan-theme h2 a span {
  color: var(--primary);
  font-size: 1.75rem;
}

.kentan-theme h3 a span {
  color: var(--secondary-text);
  font-size: 1.5rem;
}

@media (min-width: 1024px) {

  .kentan-theme .background-poster {
    height: 113.4vh;
  }

  .kentan-theme .poster-border,
  .kentan-theme .poster {
    -webkit-clip-path: polygon(100% 0, 100% 90%, 72% 100%, 44% 60%, 0 79%, 0 0);
    clip-path: polygon(100% 0, 100% 90%, 72% 100%, 44% 60%, 0 79%, 0 0);
  }


  .kentan-theme .shade-primary,
  .kentan-theme .shade-accent-2 {
    -webkit-clip-path: polygon(75% 0, 44% 60%, 0 79%, 0 0);
    clip-path: polygon(75% 0, 44% 60%, 0 79%, 0 0);
  }

  .kentan-theme .shade-accent-1 {
    -webkit-clip-path: polygon(75% 0, 100% 0, 100% 90%, 72% 100%, 44% 60%);
    clip-path: polygon(75% 0, 100% 0, 100% 90%, 72% 100%, 44% 60%);
  }

  .kentan-theme .shade-primary {
    background-image: linear-gradient(247deg, rgba(96,37,88,0.1) 40%, rgba(96,37,88,1) 87%);
  }

  .kentan-theme .shade-accent-1 {
    background-image: linear-gradient(141deg, rgba(96,37,88,0.3) 40%, rgba(245,143,96,0.7) 70%);
  }

  .kentan-theme .shade-accent-2 {
    background-image: linear-gradient(307deg, rgba(245,143,96,0.03) 60%, rgba(245,143,96,0.1) 65%, rgba(245,143,96,0.4) 90%);
  }

  .kentan-theme .poster-border {
    top: 3px;
  }

  .kentan-theme .poster-divider {
    position: absolute;
    display: block;
    top: -2px;
    left: 44%;
    width: 31%;
    height: calc(60% + 4px);
  }

  .kentan-theme .poster-divider line {
    stroke: var(--primary);
    stroke-width: 2px;
  }

  .kentan-theme .first-impression {
    grid-template-columns: calc(1rem / 16 * 80) auto calc(1rem / 16 * 60) auto 1fr;
    grid-template-rows: 68vh 10vh 22vh;
    justify-items: start;
    align-items: center;
    height: 100vh;
  }

  .kentan-theme .first-impression > .product-logo {
    width: auto;
    height: calc(1rem / 16 * 190);
  
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
  }

  .kentan-theme .topic-title {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    align-self: center;
  }

  .kentan-theme .title {
    font-size: calc(1rem / 16 * 95);
    font-weight: 100;
  }
  
  .kentan-theme .subtitle {
    font-size: calc(1rem / 16 * 32);
  }
  
  .kentan-theme .controls {
    flex-direction: row-reverse;
  
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: center;
  }

  .kentan-theme .controls :first-child {
    margin-bottom: 0;
  }

  .kentan-theme .controls :last-child {
    margin-left: calc(1rem / 16 * -5);
    margin-right: calc(1rem / 16 * 50);
  }
}